<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 10</title>
</head>
<body>
    <h1>Application for Reminder</h1>
    <label for="title">Text:</label>
    <input type="text" id="title">
    <label for="priority">Height:</label>
    <select id="priority">
        <option value="Low">Low person</option>
        <option value="Medium">Medium person</option>
        <option value="High">High person</option>
    </select>
    <label for="color">Choose color:</label>
    <input type="color" id="color">
    <label for="description">Description of yourself</label>
    <textarea id="description"></textarea>
    <button id="saveBtn">Save Information</button>
    <button id="showBtn">Show Information</button>
    <script src="../src/app.js"></script>
</body>
</html>


