<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 12</title>
</head>
<body>
    <h1>Generator for Planets</h1>
    <button id="invoke">Generate Here</button>
    <table border="1" id="table">
        <thead>
            <tr>
                <th>Planet Name</th>
                <th>Population</th>
                <th>Climate</th>
                <th>Gravity</th>
            </tr>
        </thead>
        <tbody id="body">
        </tbody>
    </table>
    <button id="next" style="display: none;">Next 10</button>
    <button id="previous" style="display: none;">Previous 10</button>
    <script src="../src/app.js"></script>
</body>
</html>