<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework</title>
</head>
<body>
    <h1>Homework Medium</h1>
    <label for="typeButton">By Type:</label>
    <input type="text" id="typeButton" placeholder="Enter type" required>
    <label for="brandButton">By Brand:</label>
    <input type="text" id="brandButton" placeholder="Enter brand" required>
    <button id="searchButton">Search</button>
    <script src="../src/medium.js"></script>
</body>
</html>





